@{
    ViewData["Title"] = "Доп. инфо";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Сделать веб-прложение, отображающее список мебели, с возможностью добавлять, редактировать и удалять из него элементы (кнопки редактирования и удаления присутствуют в каждой строке).</p>
